body {
  margin: 0;
  font-family: "Comic Sans MS", cursive;
  background: linear-gradient(#ffe6f0, #fff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.gift {
  font-size: 80px;
  cursor: pointer;
  text-align: center;
}

.gift p {
  font-size: 18px;
}

.letter {
  display: none;
  background: white;
  border: 4px solid hotpink;
  border-radius: 20px;
  padding: 20px;
  max-width: 90%;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0 0 20px pink;
}

h1 {
  color: hotpink;
  text-align: center;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

.decor {
  text-align: center;
  font-size: 24px;
  margin: 10px 0;
}
